* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#links-div {
  background-image: url("https://i.pinimg.com/originals/43/77/4f/43774fb3b7eecc24a4ae700260b206f0.jpg");
  background-position: bottom;
  background-size: cover;
  width: 100%;
  height: 150px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
}
h1 {
  padding: 25px;
  text-shadow: 3px 1px white;
}
#links {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  text-shadow: 3px 1px white;
}
.grass {
  background-color: green;
  padding: 20px;
  margin: 10px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 2px 2px 18px black;
}
.fire {
  background-color: red;
  padding: 20px;
  margin: 10px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 2px 2px 18px black;
}
.water {
  background-color: blue;
  padding: 20px;
  margin: 10px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 2px 2px 18px black;
}
#homePokemon {
  grid-column: 1/-1;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 10px;
  margin-bottom: 80px;
}
img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 2px 2px 12px 2px black;
}
#filterForm {
  background-color: grey;
  text-align: center;
  padding-top: 15%;
  border-radius: 20px;
  margin: 20px;
}
a:hover {
  text-shadow: 0px 2px 9px  red;
}



#chosen {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr)
}

#chosenHeader {
  grid-column: 2/4;
  grid-row: 1/2;
  text-align: center;
}

#chosenPokemon {
  grid-column: 2/4;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#links > a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

#home {
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(5, 1fr)
}

button {
  border-radius: 20px;
}

@media only screen and (max-width: 1100px) {
  #homePokemon {
    display: grid;
    grid-template-columns: repeat(3, 1fr)
  }
}