form {
  width: 80%;
  height: 150px;
  padding: 25px;
  margin: auto;
  background-color: teal;
  display: grid;
  grid-template-columns: repeat(1fr, 12);
  grid-gap: 25px;
}
.title {
  grid-column: 1/5;
}
.image-url {
  grid-column: 5/9;
}
.description {
  grid-column: 9/13;
}
#form-button {
  grid-column: 6/8;
}
#item-div {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#item-div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h2 {
  margin-bottom: 5px;
}
h4 {
  margin: 0;
  padding: 10px;
}
img {
  width: 200px;
}